*{
    font-family: "Roboto", sans-serif;
    user-select: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body,html{
    height: 100%;
    /* background: radial-gradient(#ffffff, #a8a8a8) !important; */
    background-color: #e3e0e0;
    background-size: cover !important;
    overflow-x: hidden;
}    
main{
    flex-direction: column;
    padding-top: 2em;
    gap : 2em;
}


/* Principal */
.titulo {
    position: absolute;
    top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #6200ee, #2196f3);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
  }
.container{
    margin-top: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    /* height: 100vh; */
    width: 80%;
}
.userForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    gap:0.5em;
    padding: 50px;
    align-items: center;
    margin-top: 6em;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    width: 40vw;
}
    
.userInput, .passInput {
    width: 100%;
    height: 48px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 24px;
    outline: none;
    transition: border-bottom-color 0.2s ease-in-out;
}
    
.userInput:focus, .passInput:focus {
    border-bottom-color: #6200ee;
}
    
#btn-userForm {
    background-color: #6200ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
    
#btn-userForm:hover {
    background-color: #3700b3;
}
.userForm button:active{
    background-color: #a8a8a8;
}
.titulo {
    width: 100vw;
    font-weight: bold;
    font-size: 40px;
}
.titulo h1{
    text-align: center;
    
}    
.titulo h3{
    margin-top: 1em;
    text-align: center;
    font-size: 16px;
    color: rgb(95, 34, 34);
}
body.swal2-height-auto {
    height: 100% !important;
}

.menu-superior{
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    box-sizing: border-box;
    padding-left: 1em;
}
.menu-superior button{
    width: 8vw;    
    height: 8vh;
    letter-spacing: -1px; line-height: 1.2;
    font-weight: bold;
    background-color: rgba(193, 151, 253, 0.279);
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(70, 70, 70);
}
.menu-superior button:active{
    background-color: #cecece;
}
.menu-superior button:hover{
    background-color: #6200ee;
}
.conteudo{
    width: 100%;
    display: flex;
    height: 100vh;
}
.conteudo-form173{
    margin-top: 15vh;
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.form173{
    display: flex;
    align-items: center;
    width: auto;
    flex-direction: column;
    gap: 0.5em;
}
.solicitante{
    display: flex;
    width: 13em;
}
.quantidade{
    display: flex;
    position: relative;
}
.checkboxes{
    position: absolute;
    left: 232px;
    bottom: -0.5em;
    display: flex;
    /* flex-direction: column; */
}
.checkboxes input{
    width:12px !important;
}
.checkboxes label{
    font-size: 12px;
}
.ocsForm173{ 
    gap: 0.5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.45em;
}
.ocsForm173 .campoOC{
    display: flex;
    gap: 0.5em;
}
.qnt_solicitada{
    width: 8vw;
}
.btnAddOC{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.ocsForm173 button{
    width: 30%;
}
.contadorOCs{
    width: 100%;
    display: flex;
    justify-content: end;
}
.contadorOCs h3{
    width: auto;
    margin-top: 0.2em;
    margin-right: 0.2em;
    font-size: 11px;
    font-weight: bold;
}
.listaOCs{
    margin-top: 1em;
    padding: 0.75em;
    border: 1px rgba(128, 128, 128, 0.545) solid;
    border-radius: 10px;
}
.listaOCs th{
    font-size: 15px;
    border-bottom: 1px rgba(128, 128, 128, 0.376) dashed;
    padding-bottom: 0.5em;
}
.listaOCs td{
    text-align: center;
    padding-top: 0.5em;
    font-size: 13px;
    border-bottom: 1px rgba(128, 128, 128, 0.376) dashed;
}